---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bluelock Org">
  <main>
    <img src="/favicon.svg" alt="Bluelock Logo" />
    <h1>Privacy for all,<br /> coming soon.</h1>
    <div>
      <h2>Follow us for updates</h2>
      <a href="https://twitter.com/bluelockorg" target="_blank" rel="noopener"
        >Twitter</a
      >
      <a href="https://github.com/bluelockorg" target="_blank" rel="noopener"
        >GitHub</a
      >
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  img:hover {
    animation: shake 1s linear;
    transform-origin: center 30%;
  }
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    30% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    70% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
